<html>
<head>
<title>Email</title>
</head>
<body>
    <p style="line-height: normal; font-family: 'lucida Grande', Verdana;">
        <font size="3"><strong>Hello guys,</strong></font>
    </p>
    <p>
    <p style="line-height: normal; font-family: 'lucida Grande', Verdana;">
        <font size="2">又是一个周末, 我们来看看本周大家分享的精彩话题</font>
    </p>
    <br>
    <table border="1" cellspacing="0">
        <tr>
          <th style='padding:5px 10px 5px 10px'><strong>topic</strong></th>
          <th style='padding:5px 10px 5px 10px'><strong>author</strong></th>
        </tr>
        {% for topic, author in articles.items() %}
        <tr>
          <td style='padding:5px 10px 5px 10px'><strong>{{ topic|e }}</strong></td>
          <td style='padding:5px 10px 5px 10px'><strong>{{ author|e }}</strong></td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <br>
    <div style="line-height: 21px;">
        <div style="line-height: normal; font-family: 'lucida Grande', Verdana;">
            <div style="line-height: normal; color: rgb(144, 144, 144); font-family: 'Arial Narrow'; font-size: 12px;">
                ------------------
            </div>
            <div style="line-height: normal; font-family: Verdana;">
                <div style="line-height: 21px;">
                    <div style="line-height: normal; font-family: 'lucida Grande', Verdana;">
                        <font size="2">王哲 XSLer</font>
                    </div>
                    <div style="line-height: normal; font-family: 'lucida Grande', Verdana;">
                        <span style="font-size: small; line-height: 19.5px;">杏树林信息技术（北京）有限公司</span>
                    </div>
                    <div style="line-height: normal; font-family: 'lucida Grande', Verdana;">
                        <font size="2">手机：186-1175-8973</font>
                    </div>
                </div>
                <div style="line-height: normal; font-family: 'lucida Grande', Verdana;">
                    <b style="font-size: small; line-height: 19.5px;"><i>“科学的做事儿” －&nbsp;</i></b><i style="font-size: small; line-height: 19.5px;"><b>“使用数据和并努力作出合理优化，在此基础上，每一个人都是决策者”</b></i>
                </div>
            </div>
        </div>
    </div>
</body>
</html>