<html>
<head>
    <title>Email</title>
</head>
<body>
<p style="line-height: normal; font-family: 'lucida Grande', Verdana;">
    <font size="3"><strong>Hello XSLer,</strong></font>
</p>
<p>
<p style="line-height: normal; font-family: 'lucida Grande', Verdana;">
    <font size="2">周一早, 在刚刚过去的两周我们一共收到了2篇文章. 遗憾的是1位童靴没写, 请注意啦</font>
</p>
<p style="line-height: normal; font-family: 'lucida Grande', Verdana;">
    <font size="2">下面是文章列表:</font>
</p>
<table border="1" cellspacing="0">
    <tr>
        <th style='padding:5px 10px 5px 10px'><strong>topic</strong></th>
        <th style='padding:5px 10px 5px 10px'><strong>author</strong></th>
    </tr>

    <tr>
        <td style='padding:5px 10px 5px 10px'>abc</td>
        <td style='padding:5px 10px 5px 10px'>QingCloud&lt;noreply+0@qingcloud.com&gt;</td>
    </tr>

    <tr>
        <td style='padding:5px 10px 5px 10px'>bcd</td>
        <td style='padding:5px 10px 5px 10px'>john@xingshulin.com</td>
    </tr>

</table>
<p style="line-height: normal; font-family: 'lucida Grande', Verdana;">
    <font size="2">注:内容以周一凌晨0点00分00秒,到周日晚上23点59分59秒.以实际收到邮箱时间戳为准</font>
</p>
<br>
<p style="line-height: normal; font-family: 'lucida Grande', Verdana;">
    <font size="2">如果你对双周学习分享有任何问题,欢迎到这里查阅参考资料.</font>
</p>
<p style="line-height: normal; font-family: 'lucida Grande', Verdana;">
    <font size="2">Confluence杏树林技术团队: <a
            href="http://con.xingshulin.com/pages/viewpage.action?pageId=14778537">9-杏树林的技术学习</a> </font>
</p>
<div style="line-height: 21px;">
    <div style="line-height: normal; font-family: 'lucida Grande', Verdana;">
        <div style="line-height: normal; color: rgb(144, 144, 144); font-family: 'Arial Narrow'; font-size: 12px;">
            ------------------
        </div>
        <div style="line-height: normal; font-family: Verdana;">
            <div style="line-height: 21px;">
                <div style="line-height: normal; font-family: 'lucida Grande', Verdana;">
                    <font size="2">管理分析机器人 XSLer</font>
                </div>
                <div style="line-height: normal; font-family: 'lucida Grande', Verdana;">
                    <span style="font-size: small; line-height: 19.5px;">杏树林信息技术（北京）有限公司</span>
                </div>
                <div style="line-height: normal; font-family: 'lucida Grande', Verdana;">
                    <font size="2">手机：186-1175-8973</font>
                </div>
            </div>
            <div style="line-height: normal; font-family: 'lucida Grande', Verdana;">
                <b style="font-size: small; line-height: 19.5px;"><i>“科学的做事儿” －&nbsp;</i></b><i
                    style="font-size: small; line-height: 19.5px;"><b>“使用数据和并努力作出合理优化，在此基础上，每一个人都是决策者”</b></i>
            </div>
        </div>
    </div>
</div>
</body>
</html>